.myclass {

    border: 2px solid black;
    box-shadow: 0px, 1px, 1px, 1px gray;
    font-size: 24;
    display: block;
    border-collapse: collapse;
    border-spacing: 0;
}

h1{
    color: darkblue;
}

